.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .logo {
    width: 300px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  
  .subtitle {
    font-size: 14px;
    color: #9b1b3a;
    margin-bottom: 40px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .main-button {
    background-color: #9b1b3a;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
  }
  
  .main-button:hover {
    background-color: #7e152d;
  }
  